sudo: false

language: node_js

node_js:
  - node

script:
    - npm run test
    - npm run coveralls

notifications:
  email: false


deploy:
  provider: heroku
  api_key:
    secure: "2c7c74b9-a002-4acb-a159-5429af844f1a"